[Unit]
Description=Daily 8:55 AM timer for Spotify Autoplay playlist : "Racer"

[Timer]
OnCalendar=*-*-* 08:55
Persistent=true
Unit=spotify-autoplay.service

[Install]
WantedBy=timers.target
